/*Fonts*/
@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Exo2";
    src: url("fonts/Exo2-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Exo2";
    src: url("fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

.video-container {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -100;
}

#bgvideo {
    z-index: -100;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    object-fit: cover;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    visibility: visible;
    opacity: 1;
}

a:visited {
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Exo2";
    font-weight: 350;
    overflow-x: hidden;
}

body header {
    font-family: "RobotoMono";
    font-weight: 600;
    font-style: italic;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
}
body header h1 {
    background-color: transparent;
    text-shadow: 2px 2px 20px rgb(0 0 0 / 100%);
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
    margin-top: 16rem;
    margin-bottom: 20rem;
    text-align: center;
}

body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

#about-container {
    --tw-bg-opacity: 0.7;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#about-header {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 1rem;
    text-align: center;
}

#main-content {
    background-color: black;
    justify-content: center;
    width: 100vw;
}

.icon-default {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    height: auto;
    width: 12rem;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
}

.icon-toaster {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: auto;
    width: 12rem;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
    border-radius: 1rem;
}

.project-container {
    position: relative;
    margin-bottom: 1rem;
    height: 13rem;
    width: 18rem;
    overflow: hidden;
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.project-container:hover {
    opacity: 0.75;
}

#project1 {
    width: 100%;
    object-fit: cover;
}
#project2 {
    height: 100%;
    object-fit: cover;
}
#project3 {
    height: 100%;
    object-fit: cover;
}

.project-image-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    --tw-bg-opacity: 0.5;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.main-card {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgb(55 65 81);
}

.main-card-title {
    margin: 1rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.main-card-text {
    margin: 0.25rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

#stack-container {
    margin-bottom: 2rem;
}

#toaster-container {
    margin-bottom: 1rem;
}

#contact-container {
    margin-bottom: 1rem;
}

body footer {
    height: 100vh;
    width: 100%;
    justify-content: center;
    vertical-align: bottom;
    background-color: transparent;
}

body footer p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}
