/*Tailwind CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Fonts*/
@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/*Custom styles*/
body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Exo2';
    font-weight: 350;
    overflow-x: hidden;
}

body header {
    font-family: 'RobotoMono';
    font-weight: 600;
    font-style: italic;
}

@layer components {
    .icon-default {
        @apply flex-shrink-0 flex-grow-0 object-cover h-auto w-48 m-4
    };

    .project-container {
        @apply relative bg-gray-700 rounded-2xl w-72 h-52 overflow-hidden hover:opacity-75 transition-opacity duration-300
    };
}